/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Josefin+Sans:wght@600&family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&family=Rock+Salt&display=swap);

:root {
  --highlight: #ffb20f;
  --background: #f9f5ff;
  --main-colour:#01463c;
  --contrast-colour:  #af1b3f;
  --main-marg: 100px;
  /* future developments: fix this resolve to make life easier! */
  --primaryFont:'Rock Salt', cursive;
  --secondaryFont:'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--contrast-colour);
  font-family: var(--secondaryFont);
  color: var(--background);
  
}


h1.myh1 {
  font-family: var(--primaryFont);
  font-size: 3.5rem;
  padding: var(--main-marg);
  text-align: center;
}

h2  {
  font-family: var(--secondaryFont);
  font-size: 4vw;
  padding: var(--main-marg) 0px;
  text-align: center;
}

h3 {
  font-family: var(--secondaryFont);
  font-size: 2vw;
  padding: 50px 0px;
}

.navigation {
  font-family: var(--secondaryFont);
  font-size: 1.5rem;
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--main-colour);
  text-decoration: none;
}

.navigation:hover{
  color: var(--highlight);
}

.navigation-active{
  background: var(--main-colour);
  color: var(--background);
  border-radius: 50rem;
  padding: 1.5rem;
  text-decoration: none;
}
.navigation-active:hover{
  color: var(--highlight);
}

li {
  font-family: var(--secondaryFont);
  font-size: 1.rem;
}

p {
  font-family: var(--secondaryFont);
  padding: 10px 0px;
  font-size: 1rem;
  text-align: center;
  color: var(--main-colour);
}


.hero{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.footer {
  position: absolute; /*FIXME: cannot scroll with this.... */
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-family: var(--secondaryFont);
  font-size: 1.5rem;
  /* padding: 50px 0px;
  margin: 1rem 0rem 0rem; */

  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */
  background-color: var(--main-colour);
  color: var(--background);
}