:root {
    --highlight: #ffb20f;
    --background: #f9f5ff;
    --main-colour:#01463c;
    --contrast-colour:  #af1b3f;
    --main-marg: 100px;
    --primaryFont:'Rock Salt', cursive;
    --secondaryFont:'Josefin Sans', sans-serif;
}
  
.resume-card {  
    position: relative;
    display: flex;
    /* align-items: flex-end; */
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
    width: 33%;
    text-align: center;
  }  


/* .resume-container{
display: "flex";
flex-wrap: "wrap";
justify-content: "center";
} */