:root {
    --highlight: #ffb20f;
    --background: #f9f5ff;
    --main-colour:#01463c;
    --contrast-colour:  #af1b3f;
    --main-marg: 100px;
    --primaryFont:'Rock Salt', cursive;
    --secondaryFont:'Josefin Sans', sans-serif;
}
  
  
  .resume-button:hover{
    color: var(--highlight);
  }